/***
custom page
***/
/* bg color */

.table_fon{
	font-family:Î¢ÈíÑÅºÚ;
	font-size:20px;
}
.select_css{
	width:160px;
	height: 25px;
	font-family:Î¢ÈíÑÅºÚ;
	font-size: 15px;
}

.spanwt{
	font-family:Î¢ÈíÑÅºÚ;
	color:red;
	font-size:18px;
}
.spanwtjd{
	font-family:Î¢ÈíÑÅºÚ;
	font-size:13px;
}
.spanzs{
	font-family:Î¢ÈíÑÅºÚ;
	color:red;
	font-size:11px;
}
.spanzsly{
	font-family:Î¢ÈíÑÅºÚ;
	font-size:16px;
}

.textareasty{
	width:700px;
	higth:250px;
	background-color: white;
	font-family: Î¢ÈíÑÅºÚ;
	font-size: 12;
}

.custom {
  background-color: #364150 !important;
}

.custom .logo {
  margin: 2% auto;
  margin-top: 10%;
  padding: 15px;
  text-align: center;
}

.custom .content {
  background-color: #eceef1;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  width: 40%;
  margin: 1% auto 10px auto;
  padding: 1%;
  padding-top: 2%;
  overflow: hidden;
  position: relative;
}

.custom .content .custom-form {
  padding: 0px;
  margin: 0px;
}

.custom .content .form-control {
  border: none;
  height: 43px;
  width:70%;
  color: #8290a3;
  border: 1px solid #dde3ec;
}
.custom .content .form-control:focus, .custom .content .form-control:active {
  border: 1px solid #c3ccda;
}
.custom .content .form-control::-moz-placeholder {
  color: #8290a3;
  opacity: 1;
}
.custom .content .form-control:-ms-input-placeholder {
  color: #8290a3;
}
.custom .content .form-control::-webkit-input-placeholder {
  color: #8290a3;
}

.custom .content select.form-control {
  padding-left: 9px;
  padding-right: 9px;
}

.custom .content .form-actions {
  clear: both;
  border: 0px;
  border-bottom: 1px solid #eee;
  padding: 0px 0px 0px 90%;
  margin-left: -30px;
  margin-right: -30px;
}

.custom .content .form-actions .checkbox {
  margin-left: 0;
  padding-left: 0;
}

.custom .content .form-actions .btn {
  margin-top: 12%;
}

.login .content .form-actions .btn-default {
  font-weight: 600;
  padding: 10px 25px !important;
  color: #6c7a8d;
  background-color: #ffffff;
  border: none;
}

.btn {
  border-width: 0;
  padding: 7px 14px;
  font-size: 14px;
  outline: none !important;
  background-image: none !important;
  filter: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}

.btn.dropdown-toggle, .btn-group .btn.dropdown-toggle, .btn:hover, .btn:disabled, .btn[disabled], .btn:focus, .btn:active, .btn.active {
  outline: none !important;
  background-image: none !important;
  filter: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn + .btn {
  margin-left: 5px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  color: #fff;
  background-color: #3379b5;
  border-color: #2a6496;
}
.open .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #3379b5;
  border-color: #2a6496;
}
.btn-primary:active, .btn-primary.active {
  background-image: none;
  background-color: #2d6ca2;
}
.btn-primary:active:hover, .btn-primary.active:hover {
  background-color: #3071a9;
}
.open .btn-primary.dropdown-toggle {
  background-image: none;
}
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary .badge {
  color: #428bca;
  background-color: #fff;
}

.custom .content .form-actions .btn-success {
  font-weight: 600;
  padding: 10px 20px !important;
}

.custom .content .check {
  color: #8290a3;
}

