<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.equipment.dao.IAnswerDao">
	<select id="queryQuestion" resultType="Answer" parameterType="Question">
		SELECT wtbh,sbmc,sbxh,sbys,sblx,sbwt,sbwtjd,dz1.zslymc AS zsly1,dz2.zslymc AS zsly2,dz3.zslymc AS zsly3,df.jdmc AS jdjd,sk.jddm,gcszj
		FROM sbwtfk sk
		LEFT JOIN sbjbxx sx ON sk.sbxlh=sx.sbxlh
		LEFT JOIN dm_zsly dz1 ON dz1.zslydm=sk.zslydm1
		LEFT JOIN dm_zsly dz2 ON dz2.zslydm=sk.zslydm2
		LEFT JOIN dm_zsly dz3 ON dz3.zslydm=sk.zslydm3
		LEFT JOIN dm_fwjd df ON df.jddm=sk.jddm
		WHERE gcsdm=#{userid}
	</select>
	<select id="queryjd" parameterType="String" resultType="DropDownJd">
		SELECT jddm,jdmc
		FROM dm_fwjd
	</select>
	<update id="modifyQues" parameterType="QuestionUpdate">
		UPDATE sbwtfk SET jddm=#{jddm},sbwtjd=#{wtjd},gcszj=#{gcszj}
		WHERE wtbh=#{wtdm}
	</update>
</mapper> 