<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.equipment.dao.yhxt.sbfw.ISbfwDao">
	<select id="getAllPro" resultType="com.equipment.pojo.Province">
		SELECT provinceid,provincename FROM s_province ORDER BY provinceid ASC
	</select>
	
	<select id="getCityByProId" parameterType="String" resultType="com.equipment.pojo.City">
		SELECT cityid,cityname,provinceid FROM s_city WHERE provinceid = #{proid} ORDER BY cityid ASC
	</select>
	
	<select id="getDistinctByCityId" parameterType="String" resultType="com.equipment.pojo.District">
		SELECT districtid,districtname,cityid FROM s_district WHERE cityid=#{cityid} ORDER BY districtid ASC
	</select>
	<select id="getAllZsly" resultType="com.equipment.pojo.DmZsly">
		SELECT * FROM dm_zsly
	</select>
	<select id="getAllFwsqd" parameterType="String" resultType="com.equipment.pojo.Fwsqd">
		SELECT sqdbh,sbxlh,sbwtms,yhdh gcsdh,yhxm gcsmc,jdmc,yhpj FROM fwsqd t 
		LEFT JOIN dm_fwjd t1 ON t.jddm=t1.jddm 
		LEFT JOIN userinfo t3 ON t3.yhdm=t.gcsdm
		WHERE t.sbxlh=#{sbxlh} ORDER BY sqdbh DESC
	</select>
	<select id="getSqdmx" parameterType="String" resultType="com.equipment.pojo.Fwsqd">
		SELECT sqdbh,sbxlh,sbwtms,yhdh gcsdh,yhxm gcsmc,jdmc,yhpj FROM fwsqd t 
		LEFT JOIN dm_fwjd t1 ON t.jddm=t1.jddm 
		LEFT JOIN userinfo t3 ON t3.yhdm=t.gcsdm
		WHERE t.sqdbh=#{sqdbh}
	</select>
	
	<insert id="addFwsqd"  parameterType="com.equipment.pojo.Fwsqd">
		INSERT INTO fwsqd(sqdbh,
		sbxlh,khsfid,khsid,khqid,khxxdz,sbwtms,
		zslydm1,zslydm2,zslydm3,jddm,khdh,khxm) 
		VALUES(#{sqdbh},
		#{sbxlh},
		#{khsfid},
		#{khsid},
		#{khqid},
		#{khxxdz},
		#{sbwtms},
		#{zslydm1},
		#{zslydm2},
		#{zslydm3},
		#{jddm},
		#{khdh},
		#{khxm}
		)
	</insert>
	
	<update id="updateFwsqd" parameterType="com.equipment.pojo.Fwsqd">
		UPDATE fwsqd SET yhpj=#{yhpj} WHERE sqdbh=#{sqdbh}
	</update>

	<select id="queryPoint" resultType="PointData" parameterType="QueryPoint">
		SELECT zdmc,zddh,province,pv.provincename,city,cityname,district,districtname,xxdz,zdjd,zdwd
		FROM wxzdcx wx
		LEFT JOIN s_province pv ON wx.province=pv.provinceid
		LEFT JOIN s_city sc ON wx.city=sc.cityid
		LEFT JOIN s_district sd ON sd.districtid=wx.district
		WHERE province=#{province} AND city=#{city} AND district=#{district}
	</select>
</mapper>