<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.equipment.dao.yhxt.sbjbxx.ISbjbxxDao">
	<select id="getsbjbxx" parameterType="String"
		resultType="com.equipment.pojo.yhxt.Sbjbxx">
		SELECT sbxlh,sbmc,sbxh,sbys,sbmz,DATE_FORMAT(t.sjsj,'%Y-%c-%d
		%h:%i:%s') sjsj 
		FROM sbjbxx t WHERE t.sbxlh=#{sbxlh}

	</select>

</mapper>