<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.equipment.dao.IServiceDao">
	<!--
		获取用户: 输出直接映射到对象, login_name列要"as loginName"以方便映射 ,team_id as "team.id"创建team对象并赋值
	-->
	<select id="queryService" resultType="ServiceForm" parameterType="DatatableParams">  
		SELECT sqdbh,fs.sbxlh AS sbxlh,fwlx,sj.sbmc AS sbmc,sj.sbys AS sbys,sj.sblx AS sblx,sj.sbxh AS sbxh,khsfid,khsid,khqid,khxxdz,sbwtms,dz1.zslymc AS zslymc1,dz2.zslymc
				AS zslymc2,dz3.zslymc AS zslymc3,gcui.yhxm AS gcsdm,adui.yhxm AS glydm,fs.jddm AS jddm,df.jdmc AS jdmc
		FROM fwsqd fs
		LEFT JOIN dm_fwjd df ON df.jddm=fs.jddm
		LEFT JOIN sbjbxx sj ON sj.sbxlh=fs.sbxlh
		LEFT JOIN dm_zsly dz1 ON dz1.zslydm=fs.zslydm1
		LEFT JOIN dm_zsly dz2 ON dz2.zslydm=fs.zslydm2
		LEFT JOIN dm_zsly dz3 ON dz3.zslydm=fs.zslydm3
		LEFT JOIN userinfo gcui ON gcui.yhdm = fs.gcsdm
		LEFT JOIN userinfo adui ON adui.yhdm = fs.glydm
	</select> 
	<update id="modifyjd" parameterType="ModifyJd">
		UPDATE fwsqd SET jddm=#{jddm}
		WHERE sqdbh=#{sqdbh}
	</update>
	<select id="queryProvince" resultType="SelectedData">
		SELECT provinceid AS id,provincename AS name
		FROM s_province
	</select>
	<select id="queryCity" resultType="SelectedData" parameterType="String">
		SELECT cityid AS id,cityname AS name
		FROM s_city
		WHERE provinceid=#{provinceid}
	</select>
	<select id="queryDistrict" resultType="SelectedData" parameterType="String">
		SELECT districtid AS id,districtname AS name
		FROM s_district
		WHERE cityid=#{cityid}
	</select>
	<select id="queryEngineer" resultType="SelectedData">
		SELECT ui.yhdm AS id,yhxm AS name
		FROM userinfo ui
		LEFT JOIN users u ON u.yhdm=ui.yhdm
		WHERE u.yhlb="1"
	</select>
	<select id="queryAdmin" resultType="SelectedData">
		SELECT ui.yhdm AS id,yhxm AS name
		FROM userinfo ui
		LEFT JOIN users u ON u.yhdm=ui.yhdm
		WHERE u.yhlb="0"
	</select>
	<insert id="saveOrder" parameterType="ApplyOrder">
		INSERT INTO fwsqd(sqdbh,sbxlh,fwlx,khsfid,khsid,khqid,khxxdz,sbwtms,gcsdm,glydm,jddm,time,zslydm1,zslydm2,zslydm3,yhpj)
		VALUES(#{sqdbh},#{sqdsbxlh},#{sqdfwlx},#{province},#{city},#{district},#{sqdxxdz},#{sqdwt},#{sqdgcs},#{sqdgly},#{sqdjd},now(),"1","1","1","")
	</insert>
	<select id="queryMaxId" resultType="String">
		SELECT MAX(cast(sqdbh as unsigned int)) AS maxid 
		FROM fwsqd
	</select>
	<select id="queryJd" resultType="SelectedData">
		SELECT jddm AS id,jdmc AS name
		FROM dm_fwjd
	</select>
</mapper> 
